name: Github release

on:
  workflow_call:

jobs:
  build:
    name: build and deploy project
    runs-on: ubuntu-latest
    if: github.ref_type == 'tag'
    steps:
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}