name: quarkus-build

on:
  workflow_call:
    inputs:
      jdk:
        description: 'JDK version'
        default: '25'
        required: false
        type: string
      push:
        description: 'Push docker image'
        default: false
        required: false
        type: boolean
      arch:
        description: 'List of archs. Values: [ arm64, x86_64 ]. Default: x86_64, arm64'
        default: '[ "arm64", "x86_64" ]'
        required: false
        type: string
      graalvm-version:
        description: 'GraalVM version (release, latest, dev). Default: empty-string or latest.'
        default: '25.0.1.0-Final'
        required: false
        type: string

jobs:
  build:
    name: quarkus native build and test
    runs-on: ${{ matrix.arch == 'arm64' && 'ubuntu-24.04-arm' || 'ubuntu-latest' }}
    strategy:
      matrix:
        arch: ${{ fromJson(inputs.arch) }}
    env:
      QUARKUS_CONTAINER_IMAGE_REGISTRY: 'ghcr.io'
      QUARKUS_CONTAINER_IMAGE_GROUP: ${{ github.repository_owner }}
      QUARKUS_CONTAINER_IMAGE_BUILD: 'true'
      QUARKUS_CONTAINER_IMAGE_PUSH: ${{ inputs.push }}
      QUARKUS_DOCKER_BUILDX_PLATFORM: ''
      QUARKUS_DOCKER_ADDITIONAL_ARGS: "--provenance=false"
      QUARKUS_NATIVE_ADDITIONAL_BUILD_ARGS: ${{ inputs.args }}
      SAMO_DOCKER_ANNOTATION_TEMPLATE: 'quarkus.docker.buildx.output=type=image,{{ range $index, $item := .Annotations }}{{if $index}},{{end}}annotation-index.{{ $item.Key }}={{ $item.Value}}{{ end }}'
      SAMO_DOCKER_LABEL_TEMPLATE: 'quarkus.container-image.labels."{{ .Key }}"={{ .Value }}'
      SAMO_DOCKER_TAG_TEMPLATE_LIST: {{ .Branch }}-${{ matrix.arch }}
      SAMO_CONVENTIONAL_COMMITS: 'true'
    steps:
      - uses: lorislab/install-samo-action@v2
        with:
          platform: ${{ matrix.arch}}
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: ${{ inputs.jdk }}
          cache: 'maven'
      - uses: graalvm/setup-graalvm@v1
        with:
          java-version: ${{ inputs.jdk }}
          distribution: 'mandrel'
          github-token: ${{ secrets.GITHUB_TOKEN }}
          version: ${{ inputs.graalvm-version }}
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ${{ env.QUARKUS_CONTAINER_IMAGE_REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Project version
        id: version
        run: echo "stdout=$(samo project version)" >> $GITHUB_OUTPUT
      - name: Create build env variables
        run: |
          echo "QUARKUS_CONTAINER_IMAGE_ADDITIONAL_TAGS=$(samo project docker tags)" >> $GITHUB_ENV
          echo "QUARKUS_APPLICATION_VERSION=${{ steps.version.outputs.stdout }}" >> $GITHUB_ENV
          echo "QUARKUS_CONTAINER_IMAGE_TAG=${{ steps.version.outputs.stdout }}-${{ matrix.arch }}" >> $GITHUB_ENV
          echo quarkus.docker.build-args.BUILDKIT_MULTI_PLATFORM=true >> src/main/resources/application.properties
          samo project docker labels >> src/main/resources/application.properties
          samo project docker annotations >> src/main/resources/application.properties
      - name: Build native project, run tests and push docker image
        run: mvn -ntp -B -e -DskipUTs=true -Dnative clean impsort:check formatter:validate verify --file pom.xml
      - name: Export digests
        if: ${{ !cancelled() && inputs.push }}
        run: |
          mkdir -p ${{ runner.temp }}/tags
          touch "${{ runner.temp }}/tags/${{ matrix.arch }}"
      - name: Upload info
        uses: actions/upload-artifact@v4
        if: ${{ !cancelled() && inputs.push }}
        with:
          name: tags-${{ matrix.arch }}
          path: ${{ runner.temp }}/tags/*
          retention-days: 1
          if-no-files-found: error
  merge:
    if: ${{ inputs.push }}
    runs-on: ubuntu-latest
    needs:
      - build
    env:
      QUARKUS_CONTAINER_IMAGE_REGISTRY: 'ghcr.io'
      QUARKUS_CONTAINER_IMAGE_GROUP: ${{ github.repository_owner }}
      SAMO_DOCKER_TAG_TEMPLATE_LIST: '{{ .Branch }}'
      SAMO_CONVENTIONAL_COMMITS: 'true'
    steps:
      - uses: lorislab/install-samo-action@v2
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ${{ env.QUARKUS_CONTAINER_IMAGE_REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Download info
        uses: actions/download-artifact@v4
        with:
          path: ${{ runner.temp }}/tags
          pattern: tags-*
          merge-multiple: true
      - name: Project version
        id: version
        run: echo "stdout=$(samo project version)" >> $GITHUB_OUTPUT
      - name: Create manifest list and push
        working-directory: ${{ runner.temp }}/tags
        run: |
          BRANCH_TAG=$(samo project docker tags)
          TAG="${{ steps.version.outputs.stdout }}"
          IMAGE="${{ env.QUARKUS_CONTAINER_IMAGE_REGISTRY }}/${{ env.QUARKUS_CONTAINER_IMAGE_GROUP }}/${{ github.event.repository.name }}"
          ANO=$(samo project docker annotations)
          docker buildx imagetools create -t $IMAGE:$TAG -t $IMAGE:$BRANCH_TAG $ANO $(printf '$IMAGE:%s ' *)