name: build

on:
  workflow_call:
    secrets:
      SONAR_TOKEN:
        required: true
jobs:
  build:
    uses: ./.github/workflows/quarkus-build-jvm.yml
    secrets: inherit
    with:
      push: true
  native:
    uses: ./.github/workflows/quarkus-build-native.yml
    secrets: inherit
    needs: [build]
    with:
      push: true